<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>More Details on {{ colname }}</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for value, count in vc %}
                    <tr>
                        <th scope="row">{{ value }}</th>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="data:image/png;base64,{{ gp }}" alt="Graph for {{ colname }}" class="img-fluid">
    </div>
</body>
</html>
